html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
img {
  max-width: 100%;
  height: auto;
}

body {    

background-image:url(img/the\ beatles\ logo\(1\).png) ;

h1 {
    font-size: 50px;
    color:red
}

.clickit {
    font-size: 24px;
    cursor: pointer;
}

.MENU {
    font-size: 40px;
    color:bisque
}

.Rambling {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:blueviolet
}

.HELP {
     font-size: 80px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
     color:blue
    background-image: url(img/the\ beatles\ help.jpg);
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image:url(img/what\ are\ they\ doing.jpg) ;
}

.Container img {
    width: 100%
    height: auto
    display: block;
    border-radius: 8px;
    border: 5px solid red;
}

#WAWAWA {
    font-size: 10px;
    color:pink;
}

}